.col-md-10 {
    height: 40h;
    display: flex;
    align-items: center;
}

.page-images {
    margin: 0;
}

/* CAROUSEL */
#carousel1 img {
    width: 40vw;
}

#carousel1 {
    /* margin-top: 11vh; */
    margin-left: 6vw;
}
  
.left.carousel-control{
    margin-top: 30vh;
    margin-left: 0vw;
}

.right.carousel-control{
    margin-top: 30vh;
    margin-left: 0vw;
}

.glyphicon {
    height: 12px;
    width: auto;
}

.carousel-indicators{
    font-size: 2em;
    bottom: -1%;
    visibility: hidden;
}

.carousel-control{
  background: none !important;
  filter: none !important;
  color: black;
}

.carousel.horizontal .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition:    0.6s ease-in-out top;
    -ms-transition:     0.6s ease-in-out top;
    -o-transition:      0.6s ease-in-out top;
    transition:         0.6s ease-in-out top;
    left:               0;
}

.carousel.horizontal .active,
.carousel.horizontal .next.left,
.carousel.horizontal .prev.right { top: 0; }

.carousel.horizontal .next,
.carousel.horizontal .active.right { top:  100%; }

.carousel.horizontal .prev,
.carousel.horizontal .active.left { top: -100%; }        


